@font-face {
    font-family: "Roboto";
    src: url(./assets/fonts/Roboto.ttf) format("truetype");
}

@font-face {
    font-family: "Impact";
    src: url(./assets/fonts/Impact_normal.ttf) format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "Impact";
    src: url(./assets/fonts/Impact_bold.ttf) format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "Arial";
    src: url(./assets/fonts/Arial_normal.ttf) format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "Arial";
    src: url(./assets/fonts/Arial_bold.ttf) format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "Comic-Sans";
    src: url(./assets/fonts/Comic-Sans_normal.ttf) format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "Comic-Sans";
    src: url(./assets/fonts/Comic-Sans_bold.ttf) format("truetype");
    font-weight: bold;
}
